<div class="ml-3">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" style="padding-right: 1rem;">
    <a class="navbar-brand" routerLink="dashboard" style="padding-left: 0.5rem;">Mind Full Minute</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="dashboard" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="exercise" routerLinkActive="active">Exercises</a>
        <a class="nav-item nav-link" routerLink="journal" routerLinkActive="active">Journal</a>
      </div>
      <div >
        <div class="d-flex justify-content-between align-items-center w-100">
          <div class="text-white me-3">
            Streak: {{ journalService.currentStreak() }} day{{ journalService.currentStreak() !== 1 ? 's' : '' }} 🔥
          </div>
          <div>
            <button class="btn btn-danger" (click)="this.authService.logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>
<router-outlet></router-outlet>